//Colors for App

//Light mode colors
:root {
  /* Variables for default theme (light-mode) */
  --background-color: #D3D6DB;
  --text-color: #35458D;
  --card-color: #F8FAF9;
  --nav-title-color: #35458D;
  --link-color: #B834DF;
  --nav-btn-hover: #B1B3B7;
  --modal-color: #35458D;
}

//Dark mode colors
[data-theme="dark"] {
  /* Variables for dark mode */
  --background-color: #35458D;
  --text-color: #F8FAF9;
  --card-color: #242C56;
  --nav-title-color: #0BD99B;
  --link-color: #0BD99B;
  --nav-btn-hover: #5565aD;
  --modal-color: #35458D;
}

$accentPurple: #B834DF;
$accentGreen: #0BD99B;
$accentBlue: #40C4FF;
$accentOrange: #FD6F41;
$accentAmber: #FFC600;
$gray: #B1B3B7;
$white: #F8FAF9;