//Main App styles

@import "fonts";
@import "colors";
@import "navBar";
@import "home-page";

body {
  font-family: $montserrat-alternate;
  font-weight: 400;
  color: var(--text-color);
  background-color: var(--background-color);
  min-width: 320px;
  position: relative;
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6, p {
  font-weight: 500;
  color: var(--text-color);
}

h1 {
  color: var(--nav-title-color);
  font-size: 2rem !important;
}

h2 {
  color: $accentPurple;
  font-size: 1.5rem !important;
}

//@layer base {
//  p {
//    @apply text-4xl;
//  }
//  h1 {
//    @apply text-5xl;
//  }
//}

a {
  text-decoration: none;
  :visited {
    text-decoration: none !important;
  }
  :focus-visible {
    outline: none;
  }
}

input, textarea {
  outline: none;
}